* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.Search {
    background-color: rgba(221, 214, 228, 0.795);
    padding: 20px 40px;
    margin: auto;
    outline: none;
    border: 2px solid gray;
    cursor: pointer;
    border-radius: 10px;
    transition: 2s;
    
}
.Search:hover{
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.795);
    background-color: rgba(168, 144, 194, 0.795);
    transition: 2s;
}

.boxstart {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 150px;
}

.box {
    border: 2px solid gray;
    padding: 20px 3px;
    transition: 2s;
    background-color: rgb(253, 227, 193);
 
}

.box:hover {
    background-color: aquamarine;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.795);
    transition: 2s;
    cursor: pointer;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    margin: 50px;
}

.btn {
    padding: 10px 20px;
    background-color: #ff0000e7;
    border-radius: 10px;
    outline: none;
    border: 2px solid gray;
    /* margin-bottom: -100px; */
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.listItem {
    list-style-type: none;
    margin: 20px;
}

.image {
    width: 100px;
}

#contant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: fixed;
}

.box12 {
    border: 2px solid gray;
    width: 100vw;
    height: 100vh;
}

form {
    display: flex;
    width: 400px;
    margin: auto;
    height: 400px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid gray;
    padding: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    gap: 20px;
}

input {
    text-transform: capitalize;
    padding: 10px 20px;
    border: 2px solid gray;
    outline: none;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 6px;
}

@media(max-width: 980px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 510px) {
    .list {
        grid-template-columns: repeat(1, 1fr);
    }
}