*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app{
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgb(255, 255, 255);
}
.Search{
    background-color: transparent;
    padding: 20px 40px;
    margin: auto;
    outline: none;
    border: 2px solid gray;
    border-radius: 10px;
}
.boxstart{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 150px;
}
.box{
    border: 2px solid gray;
    padding: 20px 3px ;
}
.list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    text-align: center;
    margin: 50px;
}
.btn{
    padding: 10px 20px;
    background-color: rgba(184, 146, 146, 0.336);
    border-radius: 10px;
    outline: none;
    border: 2px solid gray;
    /* margin-bottom: -100px; */
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.listItem{
    list-style-type: none;
    margin: 20px;
}
.image{
    width: 100px;
}
#contant{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    gap: 20px;
    position: fixed;
}
.box12{
    border: 2px solid gray;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
img{
    display: flex;
    font-size: 100%;
    height: 90vh;
    opacity: 0.8;
}
form{
    display: flex;
    margin-top: -20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid gray;
    padding: 20px;
    background-color: aqua;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    gap: 20px;
}
input{
    padding: 10px 20px ;
    border: 2px solid gray;
    outline: none;
}
@media (max-width: 700px)
{
    .list{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 510px){
    .list{
        grid-template-columns: repeat(1,1fr);
    }
}